<p>
  {{ message.text }} 
  <br>van: {{ message.from }}
  <br>date: {{ message.created | date: '%d-%m-%Y %H:%M' }}
</p>


<details>
    <summary>Data</summary>
    <pre>{{ message | json:4 }}</pre>
</details> 
