 <footer>
     <ul>
        <li class="navigatie-icons {% if activeIcon == 'home' %}is-active{% endif %}">
            <a href="/">
                <img src="/assets/home.svg" width="20"  alt="home icoon">
                <p>Home</p>
            </a>
        </li>
        <li class="navigatie-icons {% if activeIcon == 'veldverkenner' %}is-active{% endif %}">
            <a href="/veldverkenner">
                <img src="/assets/veldverkenner.svg" width="20"  alt="veldverkenner icoon">
                <p>Veldverkenner</p>
            </a>
        </li>
        <li class="navigatie-icons {% if activeIcon == 'nieuws' %}is-active{% endif %}">
            <a href="/nieuws">
                <img src="/assets/nieuws.svg" width="20"  alt="nieuws icoon">
                <p>Nieuws</p>
            </a>
        </li>
        <li class="navigatie-icons {% if activeIcon == 'collectie' %}is-active{% endif %}">
            <a href="/collectie">
                <img src="/assets/collectie.svg" width="20"  alt="collectie icoon">
                <p>Collectie</p>
             </a>           
        </li>        
    </ul> 
</footer>