
body {
  margin: 0;
  padding: 0;
  font-family: 'Sansita', sans-serif; 
}


h1 {
    margin: 1em 0em 1em 0em;
    text-align: center;
}

main {
    margin-bottom: 5em;
}


/* MARK: HOME PAGINA ----- */
main.home {

    h2 {
        margin-left: 0.7em;
        font-size: 1.5em;
    }

    /* Section met collectie */
    section:nth-of-type(1) {
        margin-left: 1em;
        display: flex;
        gap: 0.5em;

        h3 {
            margin-block: 1.5em; /*-block = top en bottom in een*/
        }
    }

    /* Section met nieuws */
    section:nth-of-type(2) {
        display: flex;
        gap: 0.5em;
        margin-left: 1em;

        h3 {
            margin-block: 1.5em;
        }
    }
}


/* bloemenveld collectie */
.niks-gespaard-veldverkenner {
    background-color: #BFF0FF; /* Baseline Widely availabl */
    margin-left: 1em;
    margin-top: 0;
    margin-right: 3em;
    border-radius: var(--border-radius); /* Baseline Widely availabl */
    padding: 1.8em; /* Baseline Widely availabl */
    text-align: center; /* Baseline Widely availabl */
    font-family: open sans, sans-serif; 
    font-weight: 400; 

    .veldverkenner {
        font-weight:bolder;
    }
}

/* veld nieuws */
.nieuws-berichten {
    margin: 0 1em 2em 1em;
    padding: 1em;
    background-color: #FFD27F; 
    border-radius: var(--border-radius);
    height: 90%;

    a {
        color: var(--zwart);
        text-decoration: none;
        font-size: 1.1em; 
        font-family: open sans, sans-serif;
        font-weight: 700;
        display: inline-block;
        margin-block: 0.8em;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px;        
        }
    }

    .bloemendveld {
        font-size: 0.8em;
        display: flex;
        align-items: center;
        padding: 0.5em;
        border: 1.5px solid rgb(0, 0, 0);
        border-radius: var(--label-radius);
    }

    img {
        width: 100%;
        height: 12em;
        object-fit: cover; /* Baseline Widely availabl */
    }

    .details {
        font-size: 1em;
        display: flex;
        gap: 8em;
    }
}

.home-slide-nieuws {
    display: flex;
    overflow:scroll;

    a {
        color: var(--zwart);
        text-decoration: none;
    }

    h4 {
        font-size: 1.1em;
        font-family: open sans, sans-serif;
        font-weight: 700;
        display: inline-block;
        margin-block: 0.8em;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px; 
        }
    }
}


/* MARK: VV PAGINA----- */
main.veldverkenner {
    .veldverkenner-svg {
        height: 100%;
        width: 100%;
    }
}


/* MARK: NIEUWS PAGINA ----- */
.terug-knop {
    margin: 1.5em; /* Baseline Widely availabl */
    
    a {
        color: var(--zwart);
        text-decoration: none;
        display: flex;
        gap: 0.5em;

        &:hover { /* Baseline Widely availabl */
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px;
        }
    }
}


/* MARK: 3 FILTER BUTTONS   ----- */
.navigatie-buttons {  
    text-align: center;
    display: flex;
    gap: 1em;
    justify-content: center;
    
    a {
        color: var(--zwart);
        text-decoration: none; 
        background-color: var(--sierlint);
        padding: 0.6em;
        border-radius: var(--border-radius);
        min-width: 4.5em; 

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px;
        }
    }
}


/* https://codepen.io/kmuenster/pen/XWWeQGw */
/* MARK: ZOEKBALK ----- */
.wrapper {
    margin: 2em 0em 2em 1em;

    .zoekbalk {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (width > 1100px) {
            max-width: 50em; 
            margin-inline: auto;     
        }
    }

    .zoekbalkinput {
        width: 100%;
        height: 3em;
        background: #f5f5f5;
        outline: none;
        border: none;
        border-radius: 2em;
        padding: 0 3.5em 0 1.5em;
        font-size: 1em; /* Baseline Widely availabl */
    }

    .zoekicoon {
        width: 3.5em;
        height: 3em;
        margin-left: -3.5em;
        background: none;
        border: none;
        outline: none;
    }

    .zoekicoon:hover {
        cursor: pointer;
    }
}


/* MARK: ALLE NIEUWSARTIKELEN ----- */
.alle-nieuws {
    margin-left: 1em;
    margin-right: 1em;
    font-family: open sans, sans-serif;
    font-weight: 700;

    @media (width > 1100px) {
        max-width: 50em; 
        margin-inline: auto;     
        }

    a {
        color: var(--zwart);
        text-decoration: none;

        .titel {
            &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px;
            }
        }
    }


    h2 {
        font-size: 1em;
        margin-left: 0em;
    }

    .nieuws-bericht {
        display: grid;
        grid-template-columns: 180px 1fr;
        margin: 1em 0em 1em 0em;
    }

    img {
        border-radius: var(--border-radius);
        height: 120px;
        object-fit: cover;
        grid-row: 1 / 3; /* zorgt dat de afbeelding over 2 rijen is */
        width: 90%;

        &:hover {
            /* transform: none; */
            opacity: 0.9;
            
        }

        /* wanneer de gebruiker vermindering beweging heeft aan staan krijg je bij de hover geen transform scale maar een opacity */
        @media (prefers-reduced-motion: no-preference) { 
            &:hover {
                transform: scale(1.02);
                opacity:1;
            }
        }
    }

    .label {
        font-size: 0.6em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid var(--zwart);
        border-radius: var(--label-radius);
        justify-self: start; /* zorgt ervoor dat de border om de tekst dezelfde lengte krijgt als de tekst */
        padding: .5em;
        height: fit-content;
        font-family: open sans, sans-serif;
        font-weight: 400;
    }
}

.sort-button {
    text-decoration: none;

    &.is-active {
        outline: solid 2px var(--zwart);
        }
    }

    .sort-button-reverse {
        color: #000000;

        &:hover {
            color: #000000;
        }

        &.is-active {
            outline: solid 2px var(--zwart);  
        }
}


/* MARK: ARTIKEL PAGINA ----- */
main.artikel {
    p {
        /* font-family: inter; */
        font-family: open sans, sans-serif;
        font-weight: 400;
        margin-top: 0.3em;
    }

    article:nth-of-type(1) {
        margin-left: 1em;
        margin-right: 1em;
        
    h2 {
        font-size: 1.5em;
        margin-block: 1em;
        margin: 1em 0em 0.5em 0em;
    }

    img {
        border-radius: var(--border-radius);
        object-fit: cover;
        aspect-ratio: 1/1;
        width: 100%;
    }
    }

    article:nth-of-type(2) {
        background-color: var(--sierlint);
        padding: 1em;
        margin: 2em;
        border-radius: var(--border-radius);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    }

    form {
        display: flex;
        flex-direction: column;
        accent-color: var(--donker-accent);


        .name {
            display: flex;
            flex-direction: column;
            margin-top: 1.2em;
            gap: 0.5em;
        }

        .bericht {
            display: flex;
            flex-direction: column;
            margin-block: 1.3em;
            gap: 0.5em;
        }

        textarea {
            height: 55px; /* hoogte van het textarea */
            max-width: 100%; /* zorgt ervoor dat je het textarea niet uit het vak kan trekken */
        }

        button {
            padding: .5rem;
            background-color: transparent;
            width: fit-content;
            cursor: pointer;
            border: 1px solid rgb(0, 0, 0);

            &:hover {
                background-color: #686868;
                color: white;

            }
        } 
        }

        @media (width > 1100px) {
            max-width: 50em; 
            margin-inline: auto;     
        }
    }

    h3 {
        margin-left: 0em;
        font-size: 1.2em;
    }

    .verstuur-knop {
        background-color: #555555;
        color: var(--wit);
        padding: 0.5em 1.1em 0.5em 1.1em;

        &:hover {
            background-color: transparent;
            color: #555555;
        }
    }

    .ontvangen-berichten {
        max-width: 600px;
        margin: 2em 2em 7em 2em;
        padding: 2em;
        background: var(--sierlint);
        border-radius: var(--border-radius);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

        p {
            margin-block: 1em;
            font-weight: 700;
        }
    }



/* MARK: COLLECTIE PAGINA ----- */
main.collectie {
    article {
        margin-left: 1.5em;
        margin-right: 1.8em;
        border-radius: var(--border-radius);
        font-family: open sans, sans-serif;
        font-weight: 400;

        p {
            margin: 1em;
        }

        h2 {
            margin-left: 0.8em;
        }

        a {
            display: inline-block; /* gebruikt 100% van de beschikbare breedte */
            /*  display: inline-block; wordt alleen zo breed als de inhoud */
            margin: 0.4em 1em 1em 1em;
            color: var(--wit);
            text-decoration: none;
            background-color: var(--donker-accent);
            padding: 1em 5.2em 1em 5.2em;
            border-radius: var(--border-radius);
            border: 1.5px solid var(--donker-accent);
            cursor: pointer;
            width: 91%;
            text-align: center;
        }

        @media (width > 800px) {
            max-width: 25em; 
            margin-inline: auto;     
        }
    }

    /* in de bloei */
    article:nth-of-type(1) {
        background-color: var(--voedseleiland);
        margin-bottom: 2em;

        a:hover {
            background-color: var(--voedseleiland);
            border: 1.5px solid var(--donker-accent);
            color: var(--donker-accent);
        }
    }

    /* na de bloei */
    article:nth-of-type(2) {
        background-color: var(--heuvel);
        margin-bottom: 7em;

        a:hover {
            background-color: var(--heuvel);
            border: 1.5px solid var(--donker-accent);
            color: var(--donker-accent);
        }
    }

    .afbeelding {
            object-fit: cover;
            padding: 1em 1.4em 1em 1em;
            width: 100%;
        }
    }


/* MARK: IN DE BLOEI PAGINA COLLECTIE----- */
    main.collectie-indebloei {
        article {
            display: flex;
            flex-direction: column;
            gap: 0.3em;
            margin-left: 0.8em;
            margin-right: 0.8em;
            margin-top: 1em;
            padding: 0.4em;
            border-radius: var(--border-radius);
    }

    p {
        margin-bottom: 2em;
        text-align: center;
    }

    h2 {
        font-size: 1em;
        text-align: center;
    }   

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (width > 800px) {
            grid-template-columns: 1fr 1fr 1fr;
            margin-inline: 1em;
        }

        @media (width > 1100px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;  
            margin-inline: 1em;
        }
    }

    /* teunisbloem */
    article:nth-of-type(1) {
        background-color: var(--voedseleiland);
    }

    /* duizendblad */
    article:nth-of-type(2) {
        background-color: var(--heuvel);
    }

    /* dawrin zuurbes */
    article:nth-of-type(3) {
        background-color: var(--sierlint);
    }

    /* teunisbloem */
    article:nth-of-type(4) {
        background-color: var(--voedseleiland);
    }

    /* duizendblad */
    article:nth-of-type(5) {
        background-color: var(--heuvel);
    }

    /* dawrin zuurbes */
    article:nth-of-type(6) {
        background-color: var(--sierlint);
    }

    .afbeelding {
        object-fit: cover;
        padding: 0.5em;
        border-radius: 10px;
        width: 100%;
        height: 150px;
        border-radius: 10px;
    }
    }


/* MARK: NA DE BLOEI PAGINA COLLECTIE----- */
main.collectie-nadebloei {
    article {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        margin-left: 0.8em;
        margin-right: 0.8em;
        margin-top: 1em;
        padding: 0.4em;
        border-radius: var(--border-radius);
    }

    p {
        margin-bottom: 2em;
        text-align: center;
    }

    h2 {
        font-size: 1em;
        text-align: center;
    }   

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (width > 800px) {
            grid-template-columns: 1fr 1fr 1fr;
            margin-inline: 1em;
        }

        @media (width > 1100px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;  
            margin-inline: 1em;
        }
    }

    /* teunisbloem */
    article:nth-of-type(1) {
        background-color: var(--voedseleiland);
    }

    /* duizendblad */
    article:nth-of-type(2) {
        background-color: var(--heuvel);
    }

    /* dawrin zuurbes */
    article:nth-of-type(3) {
        background-color: var(--sierlint);
    }

    /* teunisbloem */
    article:nth-of-type(4) {
        background-color: var(--voedseleiland);
    }

    /* duizendblad */
    article:nth-of-type(5) {
        background-color: var(--heuvel);
    }

    /* dawrin zuurbes */
    article:nth-of-type(6) {
        background-color: var(--sierlint);
    }

    .afbeelding {
            object-fit: cover;
            padding: 0.5em;
            border-radius: 10px;
            width: 100%;
            height: 150px;
            border-radius: 10px;
        }
    }


/* MARK: NAVBAR----- */
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10dvh;
    min-height: 5em;
    max-height: 10em;
    background-color:#f5f5f5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: open sans, sans-serif;
    font-weight: 400;
    font-size: 0.8em;

    a {
        color: var(--zwart);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px;
        }
    }

    li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        margin: 0;
        justify-items: center;
        width: 100%;
    }

    .navigatie-icons {
        text-decoration: none;

        &:hover {
                color: #000000;
            }

        &.is-active {
            color:#000000;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 5px;
        }
    }
}


.ontvangen-berichten {
    p { 
        margin-block: 1em;
    }


    .comment-name {
        font-weight: 600;
        font-size: 1.1em;
    }

    .comment-text {
        font-weight: 400;
        font-size: 1.1em; 
        overflow-wrap: break-word; /* zorgt ervoor dat de woorden netjes onder elkaar komen te staan */
        word-break: break-word;
    }

    .comment-date {
        font-weight: 200; 
        font-size: 0.9em;
        font-style: italic;
    }
}

 
/* de focus op het verzonden berichtje */
/* :target pakt automatisch het item met de # en wat erachter staat dus nu -> #reactie
http://localhost:8000/nieuws/de-zadenknoppen-van-de-teunisbloem-zijn-nu-goed-te-zien#reactie */
/* en nu bij deze dus -> #78
http://localhost:8000/nieuws/de-zadenknoppen-van-de-teunisbloem-zijn-nu-goed-te-zien#78 */
/* hierdoor krijg ik alleen de animatie op de ontvangen berichten p */
.ontvangen-berichten p:target {
    outline: 2px solid; 
    scroll-margin-top: 25rem; /* dit zorgt ervoor dat als je een berichtje hebt verzonden hij niet gelijk boven aan je scherm komt 
    maar er is zit margin dus zie je je berichtje meer in het midden staan */

    @media (prefers-reduced-motion:no-preference) {
        animation-name: --fade-out-outline;
        animation-duration: 1s; 
        animation-delay: 2s; 
        animation-fill-mode: both;
        animation-direction: reverse;
    }
    
    padding: 0.6em;
}

@keyframes --fade-out-outline { 
    0% { 
        outline-color: transparent; 
        padding: 0;
    } 
} 


.plattegrond {
    width: 100%;
    height: 100%;

    svg {
        width: 100%;
        height: 100%;
    }
}
